
#infofooter{
    margin-top: 150px;
    background-color: #171B2A;
    width: 100%;
    height: 393px;

}

.infofoot{
    list-style: none;
}

.infofoot li{
    color: white;
}

.infofoot li a{
    color: white;
    margin-left: 10px;
}
.footer-address-icon{
    text-decoration: none;
    color: white;
}


.nav-item li a{
    color: white;
    text-decoration: none;
    list-style: none;
}

.choose{
    color: white;
}


#copyright{
    background-color: #282B38;
    width: 100%;
    height: 78px;
    font-size: 13px;
    
}

.terms{
    list-style: none;
    float: right;
    font-size: 13px;
}

.terms li a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}


.terms li a:hover{
    color: #F04E3C;
    
}

